@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  margin: 0;
  font-family: 'Inter', sans-serif;
  background-color: #0f0f0f;
  color: #f1f1f1;
}
a {
  text-decoration: none;
  color: inherit;
}
@keyframes gradientMove {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}

.animate-gradient {
  animation: gradientMove 3s ease infinite;
}
